/*--------------------------------------------------------------
# Reset and Variables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  text-decoration: none;
  color: #000; }

a:focus, a:hover, a:active {
  outline: none; }

/*--------------------------------------------------------------
## Lists
--------------------------------------------------------------*/
nav ul,
nav ol,
ul,
li {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/*--------------------------------------------------------------
# Helpers
--------------------------------------------------------------*/
.loader {
  font-size: 30px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 28px auto;
  position: relative;
  transform: translateZ(0);
  animation: load6 1.7s infinite ease; }

.cover-img {
  min-width: 1000%;
  min-height: 1000%;
  max-width: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1001);
  transition: 350ms ease; }

input::-ms-clear {
  display: none; }

/* Internet Explorer ruls */
@-webkit-keyframes load6 {
  0% {
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em; }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em; }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em; }
  100% {
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; } }

@keyframes load6 {
  0% {
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em; }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em; }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em; }
  100% {
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; } }

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
.page-title {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: .4px; }

.section-title {
  color: #000;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .4px; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
  padding: 0;
  margin: 0; }

.site-main {
  padding-top: 70px;
  z-index: 1;
  margin-left: auto;
  background-color: #f7f7f7; }

/*--------------------------------------------------------------
# Parts
--------------------------------------------------------------*/
.btn {
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  background-color: #3d9cd2;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 20px;
  outline: none;
  min-width: 200px;
  transition: 350ms ease;
  position: relative; }
  .btn:hover {
    color: #000;
    transition: 350ms ease; }

.x-btn:focus, .button:focus, [type=submit]:focus {
  outline: none; }

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
.header {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 2; }

.header__logo-wrap {
  padding: 0;
  background-color: #000; }

.header__logo {
  padding: 11px 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 3px solid #a6abbd;
  cursor: pointer; }

.header__logo-img {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 5px 8px;
  background-color: #a6abbd;
  margin-right: 10px;
  border-radius: 3px;
  cursor: pointer; }
  .header__logo-img i {
    font-size: 25px; }

.header__logo-text {
  font-size: 30px;
  font-weight: 600;
  color: #a6abbd;
  font-family: 'Poppins', sans-serif; }

.header__menu-user {
  display: flex;
  background-color: #FFC312;
  padding-left: 25px;
  padding-right: 0;
  height: 70px;
  align-items: center; }

.search {
  width: 100%;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 3px;
  padding: 8px 10px; }

.search::placeholder {
  color: #fff; }

.header__menu-user-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  height: 100%;
  padding-right: 0; }

.header__menu-user-box-note {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  height: 100%; }

.header__menu-user-note {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 8px 15px; }
  .header__menu-user-note i {
    font-size: 20px; }

.activiti:hover,
.notification:hover,
.panel:hover {
  background-color: #a6abbd;
  border-radius: 3px;
  transition: 350ms ease; }

.header__menu-user-box-profile {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 25px;
  padding-right: 40px;
  border-left: 1px solid #000;
  height: 100%; }
  .header__menu-user-box-profile:hover {
    background-color: #a6abbd;
    transition: 350ms ease;
    cursor: pointer; }

.header__menu-user-profile-img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%; }

.meni__user-profile {
  display: block;
  text-align: left;
  padding-left: 15px; }

.header__menu-user-profile-name {
  display: block;
  font-size: 15px;
  font-weight: 600;
  color: #000;
  line-height: 1.3;
  width: 100%;
  font-family: 'Poppins', sans-serif; }

.header__menu-user-profile-position {
  display: block;
  font-size: 13px;
  font-weight: 600;
  color: #767676;
  line-height: 1;
  width: 100%; }

body {
  height: 1500px; }

/*--------------------------------------------------------------
## Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
.login {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 1000px;
  height: 100%; }

.login__wrap {
  width: 400px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 10px 0 25px 0; }

.login__wrap-sign {
  color: #fff;
  width: 90%;
  margin: auto;
  font-size: 25px;
  margin-bottom: 40px; }

.login__wrap-form {
  width: 90%;
  margin: auto; }

.login__form-email {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px; }

.login__form-email-icon {
  background-color: #FFC312;
  border: 0;
  height: 100%;
  border-radius: 0.25rem 0 0 0.25rem;
  padding: 10px 15px;
  font-size: 24px;
  display: flex;
  align-items: center;
  width: 17%; }

.login__form-email-text {
  padding: 9px 15px;
  border: 1px solid #ced4da;
  border-radius: 3px;
  margin-left: -1px;
  width: 83%; }

.login__form-password {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px; }

.login__form-password-icon {
  background-color: #FFC312;
  border: 0;
  height: 100%;
  border-radius: 0.25rem 0 0 0.25rem;
  padding: 10px 15px;
  font-size: 24px;
  display: flex;
  align-items: center;
  width: 17%; }

.login__form-password-text {
  padding: 9px 15px;
  border: 1px solid #ced4da;
  border-radius: 3px;
  width: 83%;
  margin-left: -1px; }

.login__form-check {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px; }

.login__form-check-check {
  margin-right: 10px; }

.login__form-check-text {
  color: #fff; }

.login__form-button {
  padding: 8px 30px;
  width: 25%;
  margin-left: auto;
  background-color: #FFC312;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px; }

.login__form-button-button {
  border: none;
  font-size: 16px;
  color: #000;
  background-color: transparent;
  font-weight: 500; }

::placeholder {
  color: #000; }

input[type=text]:focus {
  border-color: #FFC312; }

.pannel {
  position: fixed;
  margin-top: 70px;
  background-color: #FFC312; }

.pannel__item {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  margin: 40px 0;
  padding: 0px 20px; }
  .pannel__item:hover {
    color: #fff; }

.pannel__item-icon {
  margin-right: 25px;
  display: block; }

.pannel__item-text {
  font-size: 17px;
  font-weight: 300;
  color: #000;
  display: block;
  font-family: 'Poppins', sans-serif; }
  .pannel__item-text:hover {
    color: #fff; }

.intro {
  padding: 30px 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; }

.intro__text-pretitle {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: #000; }

.intro__text-title {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: #767676; }

.intro__task {
  display: flex;
  flex-wrap: wrap;
  align-items: center; }

.intro__task-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  width: 95px;
  border: 1px solid #eff2f6;
  padding: 4px 7px;
  border-radius: 2px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034);
  cursor: pointer;
  background-color: #fff;
  height: 35px; }

.intro__task-icon {
  display: block; }

.intro__task-day {
  display: block;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #000; }

.intro__task-arrow {
  display: block; }

.intro__task-filter {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 8px;
  background-color: #000;
  margin-left: 15px;
  border-radius: 3px;
  font-size: 12px;
  cursor: pointer; }
  .intro__task-filter i {
    color: #fff; }

.intro__task-refresh {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 8px;
  background-color: #000;
  margin-left: 15px;
  border-radius: 3px;
  font-size: 12px;
  cursor: pointer; }
  .intro__task-refresh i {
    color: #fff; }

.notice {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 15px; }

.notice__wrap-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 1px solid #a6abbd;
  border-radius: 3px;
  padding: 0;
  background-color: #fff; }

.notice__wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 50px 40px;
  border-right: 1px solid #a6abbd;
  cursor: pointer; }
  .notice__wrap:nth-of-type(3) {
    border-right: none; }

.notice__wrap--mod {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  max-height: 160px;
  padding: 41px 40px 51px;
  padding-left: 18px;
  border: 1px solid #a6abbd;
  border-radius: 3px;
  cursor: pointer;
  background-color: #fff;
  max-width: 265px;
  max-height: 162px; }

.notice__name {
  display: block;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #767676;
  text-align: center;
  width: 100%; }

.notice__name--mod {
  display: block;
  padding: 4px 6px;
  background-color: #00a28a;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  text-align: right;
  width: 68%;
  border-radius: 2px;
  position: relative;
  margin-bottom: 5px; }

.notice__name--mod.countdown:before {
  content: '';
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  top: 50%;
  left: 7%;
  transform: translateY(-50%);
  background-color: #fff;
  animation: countdown 0.1s forwards;
  animation-duration: 2s;
  animation-iteration-count: infinite; }

@keyframes countdown {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.notice__num {
  display: block;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #000;
  text-align: center;
  margin-left: 20px;
  width: 100%;
  position: relative; }

.notice__num.four {
  text-align: left; }

.notice__num.one::before,
.notice__num.two::before,
.notice__num.three::before,
.notice__num.four::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30%;
  font-size: 17px;
  color: #888c9b; }

.notice__num.one::before {
  content: '\f007'; }

.notice__num.two::before {
  content: '\f1e0'; }

.notice__num.three::before {
  content: '\f0ca';
  left: 24%; }

.notice__num.four::before {
  content: '\f2f9';
  left: -16%; }

.notice__num.four {
  margin-left: 25px; }

.task {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 40px 15px; }

.task__wrap {
  padding: 30px 20px;
  border: 1px solid #a6abbd;
  border-radius: 3px;
  max-width: 340px;
  height: 375px;
  background-color: #fff; }

.task__wrap-name {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 600;
  color: #000;
  display: block;
  margin-bottom: 15px; }

.task__wrap-img img {
  width: 100%; }

.task__wrap-task {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px; }

.task__wrap-task-name {
  width: 25%;
  display: block;
  font-family: 'Poppins', sans-serif;
  font-size: 11px;
  font-weight: 300;
  color: #000;
  text-align: center;
  position: relative; }
  .task__wrap-task-name::before {
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    top: 50%;
    left: 7%;
    transform: translateY(-50%); }

.task__wrap-task-name.one::before {
  background-color: #5f4b8b;
  left: -9%; }

.task__wrap-task-name.two::before {
  background-color: #ff6725;
  left: 9%; }

.task__wrap-task-name.three::before {
  background-color: #00a28a;
  left: 0; }

.task__wrap-users-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px; }

.task__wrap-users-box-img {
  width: 11%; }
  .task__wrap-users-box-img img {
    width: 100%;
    height: 35px;
    border-radius: 50%;
    object-fit: cover; }

.task__wrap-users-box-finish {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 89%; }

.task__wrap-users-finish {
  width: 30%;
  height: 19px;
  display: block; }

.task__wrap-users-finish.one {
  background-color: #5f4b8b; }

.task__wrap-users-finish.two {
  background-color: #ff6725; }

.task__wrap-users-finish.three {
  background-color: #00a28a; }
