/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
.header {
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.header__logo-wrap {
    padding: 0;
    background-color: $black;
}

.header__logo {
    padding: 11px 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 3px solid $silver-light;
    cursor: pointer;
}

.header__logo-img {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 5px 8px;
    background-color: $silver-light;
    margin-right: 10px;
    border-radius: 3px;
    cursor: pointer;
    i {
        font-size: 25px;
    }
}

.header__logo-text {
    font-size: 30px;
    font-weight: 600;
    color: $silver-light;
    font-family: 'Poppins', sans-serif;
}

.header__menu-user {
    display: flex;
    background-color: $yellow;
    padding-left: 25px;
    padding-right: 0;
    height: 70px;
    align-items: center;
}

.header__menu-user-search {
    
}
 
.search {
    width: 100%;
    color: $white;
    background-color: $black;
    border: none;
    border-radius: 3px;
    padding: 8px 10px;
}

.search::placeholder {
    color: $white;
}

.header__menu-user-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;
    height: 100%;
    padding-right: 0;
}

.header__menu-user-box-note {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    height: 100%;
}

.header__menu-user-note {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 8px 15px;

    i {
        font-size: 20px;
    }
}

.activiti,
.notification,
.panel {
    &:hover {
        background-color: $silver-light;
        border-radius: 3px;
        transition: $dur $ease;
    }
}

.header__menu-user-box-profile {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 25px;
    padding-right: 40px;
    border-left: 1px solid $black;
    height: 100%;

    &:hover {
        background-color: $silver-light;
        transition: $dur $ease;
        cursor: pointer;
    }
}

.header__menu-user-profile-img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}

.meni__user-profile {
    display: block;
    text-align: left;
    padding-left: 15px;
}

.header__menu-user-profile-name {
    display: block;
    font-size: 15px;
    font-weight: 600;
    color: $black;
    line-height: 1.3;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.header__menu-user-profile-position {
    display: block;
    font-size: 13px;
    font-weight: 600;
    color: $silver;
    line-height: 1;
    width: 100%;
}





































body {
    height: 1500px;
}