.intro {
    padding: 30px 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.intro__text {

}

.intro__text-pretitle {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: $black;
}

.intro__text-title {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: $silver;
}

.intro__task {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}

.intro__task-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline ;
    justify-content: space-between;
    width: 95px;
    border: 1px solid #eff2f6;
    padding: 4px 7px;
    border-radius: 2px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),;
    cursor: pointer;
    background-color: $white;
    height: 35px;
}

.intro__task-icon {
    display: block;
}

.intro__task-day {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: $black;
}

.intro__task-arrow {
    display: block;
}

.intro__task-filter {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 8px;
    background-color: $black;
    margin-left: 15px;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;

    i {
        color: $white;
    }
}

.intro__task-refresh {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 8px;
    background-color: $black;
    margin-left: 15px;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;

    i {
        color: $white;
    }
}















