.login {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 1000px;
    height: 100%;
}

.login__wrap {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 10px 0 25px 0;
}

.login__wrap-sign {
    color: $white;
    width: 90%;
    margin: auto;
    font-size: 25px;
    margin-bottom: 40px;
}

.login__wrap-form {
    width: 90%;
    margin: auto;
}

.login__form {

}

.login__form-email {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.login__form-email-icon {
    background-color: $yellow;
    border: 0;
    height: 100%;
    border-radius: 0.25rem 0 0 0.25rem;
    padding: 10px 15px;
    font-size: 24px;
    display: flex;
    align-items: center;
    width: 17%;
}

.login__form-email-text {
    padding: 9px 15px;
    border: 1px solid #ced4da;
    border-radius: 3px;
    margin-left: -1px;
    width: 83%;
}

.login__form-password {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}

.login__form-password-icon {
    background-color: $yellow;
    border: 0;
    height: 100%;
    border-radius: 0.25rem 0 0 0.25rem;
    padding: 10px 15px;
    font-size: 24px;
    display: flex;
    align-items: center;
    width: 17%;
}

.login__form-password-text {
    padding: 9px 15px;
    border: 1px solid #ced4da;
    border-radius: 3px;
    width: 83%;
    margin-left: -1px;
}

.login__form-check {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}

.login__form-check-check {
    margin-right: 10px;
}

.login__form-check-text {
    color: $white;
}

.login__form-button {
    padding: 8px 30px;
    width: 25%;
    margin-left: auto;
    background-color: $yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.login__form-button-button {
    border: none;
    font-size: 16px;
    color: $black;
    background-color: transparent;
    font-weight: 500;
}

::placeholder {
    color: $black;
}

input[type=text]:focus {
    border-color: $yellow;
 }