.notice {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 15px;
}

.notice__wrap-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 1px solid $silver-light;
    //box-shadow: 0 0 0 1px rgb(20 20 31 / 5%), 0 1px 3px 0 rgb(20 20 31 / 15%);
    border-radius: 3px;
    padding: 0;
    background-color: $white;
}

.notice__wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 50px 40px;
    border-right: 1px solid $silver-light;
    cursor: pointer;

    &:nth-of-type(3) {
        border-right: none;
    }
}

.notice__wrap--mod {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    max-height: 160px;
    padding: 41px 40px 51px;
    padding-left: 18px;
    border: 1px solid $silver-light;
    border-radius: 3px;
    cursor: pointer;
    background-color: $white;
    max-width: 265px;
    max-height: 162px;
}

.notice__name {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: $silver;
    text-align: center;
    width: 100%;
}

.notice__name--mod {
    display: block;
    padding:4px 6px;
    background-color: $green;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: $white;
    text-align: right;
    width: 68%;
    border-radius: 2px;
    position: relative;
    margin-bottom: 5px;
}

.notice__name--mod.countdown:before {
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    top: 50%;
    left: 7%;
    transform: translateY(-50%);
    background-color: $white;
    animation: countdown 0.1s forwards;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes countdown {
    
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.notice__num {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: $black;
    text-align: center;
    margin-left: 20px;
    width: 100%;
    position: relative;
}

.notice__num.four {
    text-align: left;
}

.notice__num.one::before,
.notice__num.two::before,
.notice__num.three::before,
.notice__num.four::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30%;
    font-size: 17px;
    color: $silver-dark;
}

.notice__num.one::before {
    content: '\f007';
}

.notice__num.two::before {
    content: '\f1e0';
}

.notice__num.three::before {
    content: '\f0ca';
    left: 24%;
}

.notice__num.four::before {
    content: '\f2f9';
    left: -16%;
}

.notice__num.four {
    margin-left: 25px;
}



