.pannel {
    position: fixed;
    margin-top: 70px;
    background-color: $yellow;
}

.pannel__item {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin: 40px 0;
    padding: 0px 20px;

    &:hover {
        color: $white;
    }
}

.pannel__item-icon {
    margin-right: 25px;
    display: block;
}

.pannel__item-text {
    font-size: 17px;
    font-weight: 300;
    color: $black;
    display: block;
    font-family: 'Poppins', sans-serif;

    &:hover {
        color: $white;
    }
}