.task {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 40px 15px;
}

.task__wrap {
    padding: 30px 20px;
    border: 1px solid $silver-light;
    border-radius: 3px;
    max-width: 340px;
    height: 375px;
    background-color: $white;
}

.task__wrap-name {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: $black;
    display: block;
    margin-bottom: 15px;
}

.task__wrap-img {
    img {
        width: 100%;
    }
}

.task__wrap-task {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 30px;
    //justify-content: space-between;
}

.task__wrap-task-name {
    width: 25%;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    font-weight: 300;
    color: $black;
    text-align: center;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        top: 50%;
        left: 7%;
        transform: translateY(-50%);
    }
}

.task__wrap-task-name.one::before {
    background-color: $purple;
    left: -9%;
}

.task__wrap-task-name.two::before {
    background-color: $brown;
    left: 9%;
}

.task__wrap-task-name.three::before {
    background-color:$green;
    left: 0;
}

.task__wrap-users {
    
}

.task__wrap-users-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.task__wrap-users-box-img {
    width: 11%;
    img {
        width: 100%;
        height: 35px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.task__wrap-users-box-finish {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 89%;
}

.task__wrap-users-finish {
    width: 30%;
    height: 19px;
    display: block;
}

.task__wrap-users-finish.one {
    background-color: $purple;
}

.task__wrap-users-finish.two {
    background-color: $brown;
}

.task__wrap-users-finish.three {
    background-color: $green;
}











