// Fonts
// $font-main: 'Open Sans', $font-default-sans-serif;
// $font-second: 'Montserrat', $font-default-serif;

// Colors
$white: #fff;
$black: #000;
$red:#f10808;
$green:#00a28a;
$blue: #3d9cd2;
$yellow: #FFC312;
$silver:#767676;
$silver-dark:#888c9b;
$silver-light:#a6abbd;
$orange:#d4461a;
$brown:#ff6725;
$purple:#5f4b8b;



// Transitions
$dur: 350ms;
$ease: ease;
$ease-in: 3s;
$ease-out: 2s;