html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	outline: none;
	padding: 0;
	margin: 0;
}


.site-main {
	padding-top: 70px;
	z-index: 1;
	margin-left: auto;
	background-color: #f7f7f7;
}
// .container {
// 	@media screen and (min-width: 1200px) {
//         max-width: 1440px;
//     }
// }